# Python
__pycache__/
*.pyc

# Venv
.venv/

# Logs
*.log
logs/

# Secrets
.env
.env.*
.env.example
!.env.example
.env.localbackup
*.csv

# Data/exports
backups/
import/

# OS/editor junk
.DS_Store
.vscode/
.idea/
Сохраняем файл на всякий/
.env
.venv-wahelp/
test.db
trace.txt
.env.local
.venv
docs/Sheets.json
